html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.shadow {
box-shadow:
  0.7px 3px 5.3px rgba(0, 0, 0, 0.046),
  2.2px 10.1px 17.9px rgba(0, 0, 0, 0.057),
  10px 45px 80px rgba(0, 0, 0, 0.09)
}


div::-webkit-scrollbar {
  display: none; 
}


.open {
  background-color: #d5d5d5;
  font-weight: 100;
  border-radius: 5px;
}

